h1 {
    text-align: center;
    font-size: 7rem;
    color: beige;
    text-shadow: 2rem black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  
  h2 {
    size: 10rem;
  }

  main {
    background-color: #725733;
  }

  label {
    display: block;
    font-weight: bold;
    color: beige;
  }